<!DOCTYPE html>
<html>
    <head>
        <title>Furry Frontlines XV</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        
    </head>
    <body>
        <script src="/static/js/script.js"></script>
        
        <div id="topContainer">
            <h1>Furry Frontlines XV</h1>
            <input type="text" id="messageInput" placeholder="Type your message here">
            <button onclick="sendMessage()">Send Message</button>
            <ul id="messagesList"></ul>
        </div>
        <div id="canvasContainer">
            <canvas id="gameCanvas" width="1200" height="1080"></canvas>
        </div>
        <script>
            // Game logic
            const canvas = document.getElementById('gameCanvas');
            const ctx = canvas.getContext('2d');

            const player = {
                x: canvas.width / 2,
                y: canvas.height / 2,
                speed: 5
            }

            // WebSocket logic
            let ws = new WebSocket("ws://ec2-3-133-93-0.us-east-2.compute.amazonaws.com:8000/ws");

            ws.onopen = function() {
                console.log("WebSocket connection established");
            };

            ws.onmessage = function(event) {
                handleMessage(event.data)
            };

            ws.onclose = function(event) {
                console.log("WebSocket connection closed", event);
            };

            ws.onerror = function(error) {
                console.error("WebSocket error:", error);
            };

            // Parse websocket JSON message
            function handleMessage(data) {
                let parsedData = JSON.parse(data);
                console.log("received server message " + parsedData);
                if (parsedData.type === "chat_message") {
                    console.log('is chat message')
                    displayMessage(parsedData.sender_ip, parsedData.data)
                }
                else if (parsedData.type === "update") {
                    console.log('is update message')
                } else {
                    console.log('idk what kind of message this is')
                }
            }
            
            // Send message button logic
            function sendMessage() {
                let message = document.getElementById("messageInput").value;
                if (message) {
                    let data = JSON.stringify({type: "chat_message", data: message});
                    ws.send(data);
                    document.getElementById("messageInput").value = ''; // Clear the input field after sending the message
                } else {
                    alert("Please enter a message to send");
                }
            }

            function displayMessage(ip, message) {
                let messagesList = document.getElementById("messagesList");
                let messageItem = document.createElement("li");
                messageItem.textContent = ip+' says "'+message+'"';
                messagesList.appendChild(messageItem);
            }
        </script>
    </body>
</html>
