body {
    color: darkblue;
    font-family: Arial, sans-serif;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start of the flex container */
    align-items: center;
    height: 100vh;
    margin: 0;
}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#canvasContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

    ul {
        /* border: 3px solid darkblue; */
        margin: 5px;
        padding: 3px;
    }
    li {
        list-style-type: none;
    }
}

#chatBox {
    position: absolute;
    top: 20px; /* Position from the top of the container */
    right: 20px;
    /* transform: translateX(-100%); */
    color: darkblue; /* Customize text color */
    font-size: 1em; /* Customize text size */
    background: rgba(255, 255, 255, 0.7); /* Optional: background to make text readable */
    padding: 10px;
    border-radius: 5px;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 20px 0;
}

/* div {
    border: 3px dashed black;
} */
