@font-face {
    font-family: 'Rainy Hearts';
    src: url('../fonts/rainyhearts.ttf') format('truetype');
}

html, body {
    font-family:  'Rainy Hearts', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body {
    color: black;
    background-color: #457237;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#chatBox {
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
    min-width: 300px;
    max-width: 70%;
    margin: 15px;
    /* transform: translateX(-100%); */
    color: darkblue; /* Customize text color */
    background: rgba(255, 255, 255, 0.7); /* Optional: background to make text readable */
    padding: 15px;
    border-radius: 5px;
    pointer-events: none;

    #messageInput {
        pointer-events: auto;
        font-family: 'Rainy Hearts', sans-serif;
        font-size: 1.5em;
        width: max(95%, 200px);
    }

    .serverMessage {
        color: darkgoldenrod;
    }    
    
    ul {
        /* border: 3px solid darkblue; */
        margin: 5px;
        padding: 3px;
        max-height: 150px;
        overflow-y: auto;
        scroll-behavior: smooth; /* Enables smooth scrolling */
    }
    li {
        pointer-events: none;
        list-style-type: none;
        font-size: 1.5em;
    }
}

@media (min-width: 1px) {
    #chatBox {
        position: absolute;
    }
}

/* div {
    border: 3px dashed black;
} */
