body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full height of the viewport */
}

#gameCanvas {
    background: #f0f0f0;
    display: block;
    border: 15px solid white;
    border-radius: 15px;
    margin: 15vh; /* Remove default margin */
    height: 70vh;
}

h1 {
    color: darkslateblue;
    font-size: 3em;
    text-align: center; /* Center the header text */
}
