body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border:1px black;
}

#gameCanvas {
    background: #f0f0f0;
    display: block;
    border: 8px solid black;
    border-radius: 5px;
}

h1 {
    color: darkslateblue;
    text-align: center; /* Center the header text */
}
