body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    overflow: hidden; 
}

#gameCanvas {
    background: #f0f0f0;
    display: block;
    border:8px solid black;
    border-radius: 5px;
    text-align: center;
}

h1 {
    color:darkslateblue;
}
