<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="full-screen" content="yes" />
        <meta name="screen-orientation" content="landscape" />
        <meta name="viewport" content="width=device-width, initial-scale=0.75">
        <title>ff15</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <script src="//cdn.jsdelivr.net/npm/phaser@3.80.0/dist/phaser.min.js"></script>
        <!-- <script type="module" src="/static/js/main.js"></script> -->
    </head>
    <body>
        <div id="gameContainer" tabindex="-1">
            <div id="chatBox">
                <ul id="messagesList" tabindex="-1"></ul>
                <hr>
                <form onsubmit="return sendMessage(event)" autocomplete="off">
                    <input type="text" id="messageInput" placeholder="Type your message here">
                </form>
            </div>
        </div>
    </body>
</html>