<!DOCTYPE html>
<html>
    <head>
        <title>ff15</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <script src="//cdn.jsdelivr.net/npm/phaser@3.80.0/dist/phaser.min.js"></script>
    </head>
    <body>
        <div id="header">
            <h1>😺 Furry Frontiers XV 😺</h1>
            <!-- <h2>(aka ff15 😿)</h2> -->
            <h3>Use WASD to move</h3>
        </div>
        <div id="canvasContainer">
            <script type="module" src="/static/js/main.js"></script>
            <div id="chatBox">
                <form onsubmit="sendMessage(event)">
                    <input type="text" id="messageInput" placeholder="Type your message here">
                    <input type="submit" value="Send">
                </form>
                <hr>
                <ul id="messagesList"></ul>
            </div>
        </div>
    </body>
</html>